* {
  font-family: "Montserrat";
  font-weight: 400;
}

a {
  text-decoration: none !important;
  color: black !important;
}

a:hover {
  text-decoration: none !important;
  color: black !important;
}

.navbar {
  background-color: #eef7fc;
}
.navbar .navbar-brand {
  font-family: "Pacifico";
  font-size: 1.5em;
  color: black;
}

.card .card-body button {
  background-color: transparent;
}

#jumbotron {
  background: linear-gradient(
    45deg,
    hsla(192, 95%, 50%, 1) 0%,
    hsla(200, 93%, 49%, 1) 25%,
    hsla(207, 92%, 48%, 1) 71%,
    hsla(216, 75%, 48%, 1) 100%,
    hsla(225, 89%, 47%, 1) 100%
  );
}

#add-pref-container,
#card-container {
  background: linear-gradient(
    180deg,
    hsla(201, 70%, 96%, 1) 0%,
    rgb(160, 203, 241) 100%
  );
  height: 100vh;
}

#detail-card {
  background-color: rgb(226, 235, 247);
  border-radius: 12px;
}

.card-img,
.card-img-bottom,
.card-img-top {
  width: 30% !important;
}

.row .navy {
  width: 110%;

  height: 580px;
  background: linear-gradient(
    180deg,
    hsla(201, 70%, 96%, 1) 0%,
    rgb(160, 203, 241) 100%
  );
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
  clip-path: polygon(100% 0, 0 0, 0 100%);
  z-index: -1;
  position: absolute;
}

.row .cloud {
  z-index: 3;
  position: absolute;
}

.row .card-in-jumbotron {
  z-index: 1000;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .row .navy {
    width: 110%;

    height: 500px;
    background: linear-gradient(
      180deg,
      hsla(201, 70%, 96%, 1) 0%,
      rgb(160, 203, 241) 100%
    );
    -webkit-clip-path: polygon(150% 0, 0 0, 0 100%);
    clip-path: polygon(150% 0, 0 0, 0 100%);
    z-index: -1;
    position: absolute;
  }
}
