* {
  font-family: "Montserrat";
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  background-color: #03045e;
}
.navbar-brand {
  font-family: "Pacifico";
  font-size: 1.5em !important;
}

button {
  background-color: #09a6f3 !important;
  border: #09a6f3 1px solid !important;
}

button:hover {
  background-color: #0a85ed !important;
  border: #0a85ed 1px solid !important;
}

#jumbotron {
  background: linear-gradient(
    45deg,
    hsla(192, 95%, 50%, 1) 0%,
    hsla(200, 93%, 49%, 1) 25%,
    hsla(207, 92%, 48%, 1) 71%,
    hsla(216, 75%, 48%, 1) 100%,
    hsla(225, 89%, 47%, 1) 100%
  );
}

#add-pref-container,
#card-container {
  background: linear-gradient(
    45deg,
    hsla(192, 95%, 50%, 1) 0%,
    hsla(200, 93%, 49%, 1) 25%,
    hsla(207, 92%, 48%, 1) 71%,
    hsla(216, 90%, 48%, 1) 100%,
    hsla(225, 89%, 47%, 1) 100%
  );
  height: 100vh;
}

#detail-card {
  background-color: rgb(226, 235, 247);
  border-radius: 12px;
}

.card-img,
.card-img-bottom,
.card-img-top {
  width: 30% !important;
}

.button-in-card,
.button-in-card:hover {
  background: none !important;
  border: none !important;
  color: black !important;
  padding: 1px !important;
}
