* {
  font-family: "Montserrat";
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  background-color: #03045e;
}
.navbar-brand {
  font-family: "Pacifico";
  font-size: 1.5em !important;
}

button {
  background-color: #00b4d8 !important;
  border: #00b4d8 1px solid !important;
}

button:hover {
  background-color: #039bb9 !important;
  border: #039bb9 1px solid !important;
}

.jumbotron {
  background-color: red;
}
